<!-- INCLUDE ucp_header.html -->

<h2>{L_UCP_AUTH_OTP_TITLE}</h2>

<div class="panel">
	<div class="inner">
		<!-- IF ERROR --><dl><dd class="error">{ERROR}</dd></dl><!-- ENDIF -->

		<p>{L_UCP_AUTH_OTP_SETTINGS}</p>
		<!-- IF OTP_TYPE -->
		<fieldset>
			<dl>
				<dt><label>{L_UCP_AUTH_OTP_TYPE}{L_COLON}</label></dt>
				<dd>{OTP_TYPE}</dd>
			</dl>
		</fieldset>
		<!-- ELSE -->
		<p>{L_UCP_AUTH_OTP_NOT_EXIST}</p>
		<form id="ucp" method="post" action="{S_UCP_ACTION}">
			<fieldset>
				<dl>
					<dt>&nbsp;</dt>
					<dd><input type="submit" name="otp_create_secret" tabindex="6" value="{L_UCP_AUTH_OTP_CREATE}" class="button1" /></dd>
				</dl>
			</fieldset>
			{S_HIDDEN_FIELDS}
			{S_FORM_TOKEN}
		</form>
		<!-- ENDIF -->
	</div>
</div>

<!-- INCLUDE ucp_footer.html -->
