$icons: (
		sprite: (width: 58px, height: 40252px, pngPath: '../img/sprite.png', svgPath: '../images/svg/sprite.min.svg'),
 	500px: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: 0px),
 	adjust: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -58px),
 	adn: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -116px),
 	align-center: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -174px),
 	align-justify: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -232px),
 	align-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -290px),
 	align-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -348px),
 	amazon: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -406px),
 	ambulance: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -464px),
 	anchor: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -522px),
 	android: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -580px),
 	angellist: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -638px),
 	angle-double-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -696px),
 	angle-double-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -754px),
 	angle-double-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -812px),
 	angle-double-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -870px),
 	angle-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -928px),
 	angle-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -986px),
 	angle-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1044px),
 	angle-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1102px),
 	apple: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1160px),
 	archive: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1218px),
 	area-chart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1276px),
 	arrow-circle-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1334px),
 	arrow-circle-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1392px),
 	arrow-circle-o-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1450px),
 	arrow-circle-o-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1508px),
 	arrow-circle-o-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1566px),
 	arrow-circle-o-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1624px),
 	arrow-circle-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1682px),
 	arrow-circle-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1740px),
 	arrow-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1798px),
 	arrow-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1856px),
 	arrow-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1914px),
 	arrow-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -1972px),
 	arrows: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2030px),
 	arrows-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2088px),
 	arrows-h: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2146px),
 	arrows-v: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2204px),
 	asterisk: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2262px),
 	at: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2320px),
 	automobile: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2378px),
 	backward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2436px),
 	balance-scale: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2494px),
 	ban: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2552px),
 	bank: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2610px),
 	bar-chart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2668px),
 	bar-chart-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2726px),
 	barcode: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2784px),
 	bars: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2842px),
 	battery-0: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2900px),
 	battery-1: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -2958px),
 	battery-2: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3016px),
 	battery-3: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3074px),
 	battery-4: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3132px),
 	battery-empty: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3190px),
 	battery-full: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3248px),
 	battery-half: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3306px),
 	battery-quarter: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3364px),
 	battery-three-quarters: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3422px),
 	bed: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3480px),
 	beer: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3538px),
 	behance: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3596px),
 	behance-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3654px),
 	bell: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3712px),
 	bell-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3770px),
 	bell-slash: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3828px),
 	bell-slash-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3886px),
 	bicycle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -3944px),
 	binoculars: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4002px),
 	birthday-cake: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4060px),
 	bitbucket: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4118px),
 	bitbucket-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4176px),
 	bitcoin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4234px),
 	black-tie: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4292px),
 	bluetooth: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4350px),
 	bluetooth-b: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4408px),
 	bold: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4466px),
 	bolt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4524px),
 	bomb: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4582px),
 	book: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4640px),
 	bookmark: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4698px),
 	bookmark-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4756px),
 	briefcase: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4814px),
 	btc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4872px),
 	bug: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4930px),
 	building: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -4988px),
 	building-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5046px),
 	bullhorn: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5104px),
 	bullseye: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5162px),
 	bus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5220px),
 	buysellads: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5278px),
 	cab: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5336px),
 	calculator: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5394px),
 	calendar: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5452px),
 	calendar-check-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5510px),
 	calendar-minus-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5568px),
 	calendar-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5626px),
 	calendar-plus-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5684px),
 	calendar-times-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5742px),
 	camera: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5800px),
 	camera-retro: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5858px),
 	car: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5916px),
 	caret-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -5974px),
 	caret-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6032px),
 	caret-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6090px),
 	caret-square-o-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6148px),
 	caret-square-o-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6206px),
 	caret-square-o-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6264px),
 	caret-square-o-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6322px),
 	caret-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6380px),
 	cart-arrow-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6438px),
 	cart-plus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6496px),
 	cc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6554px),
 	cc-amex: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6612px),
 	cc-diners-club: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6670px),
 	cc-discover: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6728px),
 	cc-jcb: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6786px),
 	cc-mastercard: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6844px),
 	cc-paypal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6902px),
 	cc-stripe: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -6960px),
 	cc-visa: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7018px),
 	certificate: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7076px),
 	chain: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7134px),
 	chain-broken: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7192px),
 	check: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7250px),
 	check-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7308px),
 	check-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7366px),
 	check-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7424px),
 	check-square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7482px),
 	chevron-circle-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7540px),
 	chevron-circle-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7598px),
 	chevron-circle-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7656px),
 	chevron-circle-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7714px),
 	chevron-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7772px),
 	chevron-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7830px),
 	chevron-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7888px),
 	chevron-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -7946px),
 	child: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8004px),
 	chrome: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8062px),
 	circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8120px),
 	circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8178px),
 	circle-o-notch: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8236px),
 	circle-thin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8294px),
 	clipboard: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8352px),
 	clock-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8410px),
 	clone: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8468px),
 	close: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8526px),
 	cloud: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8584px),
 	cloud-download: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8642px),
 	cloud-upload: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8700px),
 	cny: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8758px),
 	code: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8816px),
 	code-fork: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8874px),
 	codepen: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8932px),
 	codiepie: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -8990px),
 	coffee: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9048px),
 	cog: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9106px),
 	cogs: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9164px),
 	columns: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9222px),
 	comment: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9280px),
 	comment-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9338px),
 	commenting: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9396px),
 	commenting-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9454px),
 	comments: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9512px),
 	comments-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9570px),
 	compass: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9628px),
 	compress: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9686px),
 	connectdevelop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9744px),
 	contao: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9802px),
 	copy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9860px),
 	copyright: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9918px),
 	creative-commons: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -9976px),
 	credit-card: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10034px),
 	credit-card-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10092px),
 	crop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10150px),
 	crosshairs: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10208px),
 	css3: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10266px),
 	cube: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10324px),
 	cubes: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10382px),
 	cut: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10440px),
 	cutlery: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10498px),
 	dashboard: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10556px),
 	dashcube: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10614px),
 	database: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10672px),
 	dedent: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10730px),
 	delicious: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10788px),
 	desktop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10846px),
 	deviantart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10904px),
 	diamond: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -10962px),
 	digg: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11020px),
 	dollar: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11078px),
 	dot-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11136px),
 	download: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11194px),
 	dribbble: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11252px),
 	dropbox: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11310px),
 	drupal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11368px),
 	edge: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11426px),
 	edit: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11484px),
 	eject: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11542px),
 	ellipsis-h: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11600px),
 	ellipsis-v: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11658px),
 	empire: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11716px),
 	envelope: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11774px),
 	envelope-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11832px),
 	envelope-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11890px),
 	eraser: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -11948px),
 	eur: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12006px),
 	euro: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12064px),
 	exchange: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12122px),
 	exclamation: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12180px),
 	exclamation-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12238px),
 	exclamation-triangle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12296px),
 	expand: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12354px),
 	expeditedssl: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12412px),
 	external-link: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12470px),
 	external-link-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12528px),
 	eye: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12586px),
 	eye-slash: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12644px),
 	eyedropper: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12702px),
 	facebook: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12760px),
 	facebook-f: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12818px),
 	facebook-official: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12876px),
 	facebook-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12934px),
 	fast-backward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -12992px),
 	fast-forward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13050px),
 	fax: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13108px),
 	feed: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13166px),
 	female: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13224px),
 	fighter-jet: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13282px),
 	file: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13340px),
 	file-archive-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13398px),
 	file-audio-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13456px),
 	file-code-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13514px),
 	file-excel-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13572px),
 	file-image-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13630px),
 	file-movie-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13688px),
 	file-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13746px),
 	file-pdf-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13804px),
 	file-photo-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13862px),
 	file-picture-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13920px),
 	file-powerpoint-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -13978px),
 	file-sound-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14036px),
 	file-text: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14094px),
 	file-text-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14152px),
 	file-video-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14210px),
 	file-word-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14268px),
 	file-zip-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14326px),
 	files-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14384px),
 	film: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14442px),
 	filter: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14500px),
 	fire: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14558px),
 	fire-extinguisher: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14616px),
 	firefox: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14674px),
 	flag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14732px),
 	flag-checkered: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14790px),
 	flag-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14848px),
 	flash: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14906px),
 	flask: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -14964px),
 	flickr: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15022px),
 	floppy-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15080px),
 	folder: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15138px),
 	folder-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15196px),
 	folder-open: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15254px),
 	folder-open-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15312px),
 	font: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15370px),
 	fonticons: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15428px),
 	fort-awesome: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15486px),
 	forumbee: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15544px),
 	forward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15602px),
 	foursquare: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15660px),
 	frown-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15718px),
 	futbol-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15776px),
 	gamepad: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15834px),
 	gavel: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15892px),
 	gbp: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -15950px),
 	ge: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16008px),
 	gear: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16066px),
 	gears: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16124px),
 	genderless: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16182px),
 	get-pocket: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16240px),
 	gg: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16298px),
 	gg-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16356px),
 	gift: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16414px),
 	git: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16472px),
 	git-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16530px),
 	github: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16588px),
 	github-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16646px),
 	github-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16704px),
 	gittip: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16762px),
 	glass: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16820px),
 	globe: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16878px),
 	google: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16936px),
 	google-plus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -16994px),
 	google-plus-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17052px),
 	google-wallet: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17110px),
 	graduation-cap: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17168px),
 	gratipay: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17226px),
 	group: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17284px),
 	h-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17342px),
 	hacker-news: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17400px),
 	hand-grab-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17458px),
 	hand-lizard-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17516px),
 	hand-o-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17574px),
 	hand-o-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17632px),
 	hand-o-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17690px),
 	hand-o-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17748px),
 	hand-paper-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17806px),
 	hand-peace-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17864px),
 	hand-pointer-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17922px),
 	hand-rock-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -17980px),
 	hand-scissors-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18038px),
 	hand-spock-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18096px),
 	hand-stop-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18154px),
 	hashtag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18212px),
 	hdd-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18270px),
 	header: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18328px),
 	headphones: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18386px),
 	heart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18444px),
 	heart-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18502px),
 	heartbeat: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18560px),
 	history: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18618px),
 	home: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18676px),
 	hospital-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18734px),
 	hotel: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18792px),
 	hourglass: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18850px),
 	hourglass-1: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18908px),
 	hourglass-2: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -18966px),
 	hourglass-3: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19024px),
 	hourglass-end: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19082px),
 	hourglass-half: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19140px),
 	hourglass-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19198px),
 	hourglass-start: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19256px),
 	houzz: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19314px),
 	html5: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19372px),
 	i-cursor: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19430px),
 	ils: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19488px),
 	image: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19546px),
 	inbox: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19604px),
 	indent: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19662px),
 	industry: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19720px),
 	info: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19778px),
 	info-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19836px),
 	inr: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19894px),
 	instagram: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -19952px),
 	institution: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20010px),
 	internet-explorer: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20068px),
 	intersex: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20126px),
 	ioxhost: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20184px),
 	italic: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20242px),
 	joomla: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20300px),
 	jpy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20358px),
 	jsfiddle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20416px),
 	key: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20474px),
 	keyboard-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20532px),
 	krw: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20590px),
 	language: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20648px),
 	laptop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20706px),
 	lastfm: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20764px),
 	lastfm-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20822px),
 	leaf: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20880px),
 	leanpub: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20938px),
 	legal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -20996px),
 	lemon-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21054px),
 	level-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21112px),
 	level-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21170px),
 	life-bouy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21228px),
 	life-buoy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21286px),
 	life-ring: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21344px),
 	life-saver: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21402px),
 	lightbulb-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21460px),
 	line-chart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21518px),
 	link: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21576px),
 	linkedin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21634px),
 	linkedin-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21692px),
 	linux: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21750px),
 	list: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21808px),
 	list-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21866px),
 	list-ol: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21924px),
 	list-ul: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -21982px),
 	location-arrow: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22040px),
 	lock: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22098px),
 	long-arrow-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22156px),
 	long-arrow-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22214px),
 	long-arrow-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22272px),
 	long-arrow-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22330px),
 	magic: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22388px),
 	magnet: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22446px),
 	mail-forward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22504px),
 	mail-reply: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22562px),
 	mail-reply-all: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22620px),
 	male: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22678px),
 	map: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22736px),
 	map-marker: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22794px),
 	map-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22852px),
 	map-pin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22910px),
 	map-signs: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -22968px),
 	mars: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23026px),
 	mars-double: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23084px),
 	mars-stroke: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23142px),
 	mars-stroke-h: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23200px),
 	mars-stroke-v: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23258px),
 	maxcdn: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23316px),
 	meanpath: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23374px),
 	medium: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23432px),
 	medkit: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23490px),
 	meh-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23548px),
 	mercury: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23606px),
 	microphone: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23664px),
 	microphone-slash: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23722px),
 	minus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23780px),
 	minus-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23838px),
 	minus-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23896px),
 	minus-square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -23954px),
 	mixcloud: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24012px),
 	mobile: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24070px),
 	mobile-phone: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24128px),
 	modx: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24186px),
 	money: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24244px),
 	moon-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24302px),
 	mortar-board: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24360px),
 	motorcycle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24418px),
 	mouse-pointer: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24476px),
 	music: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24534px),
 	navicon: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24592px),
 	neuter: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24650px),
 	newspaper-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24708px),
 	object-group: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24766px),
 	object-ungroup: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24824px),
 	odnoklassniki: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24882px),
 	odnoklassniki-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24940px),
 	opencart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -24998px),
 	openid: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25056px),
 	opera: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25114px),
 	optin-monster: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25172px),
 	outdent: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25230px),
 	pagelines: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25288px),
 	paint-brush: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25346px),
 	paper-plane: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25404px),
 	paper-plane-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25462px),
 	paperclip: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25520px),
 	paragraph: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25578px),
 	paste: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25636px),
 	pause: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25694px),
 	pause-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25752px),
 	pause-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25810px),
 	paw: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25868px),
 	paypal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25926px),
 	pencil: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -25984px),
 	pencil-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26042px),
 	pencil-square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26100px),
 	percent: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26158px),
 	phone: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26216px),
 	phone-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26274px),
 	photo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26332px),
 	picture-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26390px),
 	pie-chart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26448px),
 	pied-piper: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26506px),
 	pied-piper-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26564px),
 	pinterest: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26622px),
 	pinterest-p: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26680px),
 	pinterest-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26738px),
 	plane: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26796px),
 	play: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26854px),
 	play-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26912px),
 	play-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -26970px),
 	plug: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27028px),
 	plus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27086px),
 	plus-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27144px),
 	plus-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27202px),
 	plus-square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27260px),
 	power-off: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27318px),
 	print: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27376px),
 	product-hunt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27434px),
 	puzzle-piece: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27492px),
 	qq: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27550px),
 	qrcode: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27608px),
 	question: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27666px),
 	question-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27724px),
 	quote-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27782px),
 	quote-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27840px),
 	ra: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27898px),
 	random: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -27956px),
 	rebel: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28014px),
 	recycle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28072px),
 	reddit: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28130px),
 	reddit-alien: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28188px),
 	reddit-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28246px),
 	refresh: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28304px),
 	registered: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28362px),
 	remove: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28420px),
 	renren: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28478px),
 	reorder: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28536px),
 	repeat: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28594px),
 	reply: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28652px),
 	reply-all: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28710px),
 	retweet: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28768px),
 	rmb: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28826px),
 	road: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28884px),
 	rocket: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -28942px),
 	rotate-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29000px),
 	rotate-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29058px),
 	rouble: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29116px),
 	rss: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29174px),
 	rss-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29232px),
 	rub: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29290px),
 	ruble: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29348px),
 	rupee: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29406px),
 	safari: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29464px),
 	save: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29522px),
 	scissors: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29580px),
 	scribd: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29638px),
 	search: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29696px),
 	search-minus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29754px),
 	search-plus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29812px),
 	sellsy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29870px),
 	send: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29928px),
 	send-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -29986px),
 	server: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30044px),
 	share: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30102px),
 	share-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30160px),
 	share-alt-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30218px),
 	share-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30276px),
 	share-square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30334px),
 	shekel: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30392px),
 	sheqel: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30450px),
 	shield: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30508px),
 	ship: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30566px),
 	shirtsinbulk: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30624px),
 	shopping-bag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30682px),
 	shopping-basket: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30740px),
 	shopping-cart: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30798px),
 	sign-in: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30856px),
 	sign-out: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30914px),
 	signal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -30972px),
 	simplybuilt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31030px),
 	sitemap: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31088px),
 	skyatlas: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31146px),
 	skype: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31204px),
 	slack: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31262px),
 	sliders: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31320px),
 	slideshare: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31378px),
 	smile-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31436px),
 	soccer-ball-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31494px),
 	sort: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31552px),
 	sort-alpha-asc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31610px),
 	sort-alpha-desc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31668px),
 	sort-amount-asc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31726px),
 	sort-amount-desc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31784px),
 	sort-asc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31842px),
 	sort-desc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31900px),
 	sort-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -31958px),
 	sort-numeric-asc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32016px),
 	sort-numeric-desc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32074px),
 	sort-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32132px),
 	soundcloud: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32190px),
 	space-shuttle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32248px),
 	spinner: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32306px),
 	spoon: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32364px),
 	spotify: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32422px),
 	square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32480px),
 	square-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32538px),
 	stack-exchange: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32596px),
 	stack-overflow: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32654px),
 	star: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32712px),
 	star-half: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32770px),
 	star-half-empty: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32828px),
 	star-half-full: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32886px),
 	star-half-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -32944px),
 	star-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33002px),
 	steam: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33060px),
 	steam-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33118px),
 	step-backward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33176px),
 	step-forward: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33234px),
 	stethoscope: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33292px),
 	sticky-note: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33350px),
 	sticky-note-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33408px),
 	stop: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33466px),
 	stop-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33524px),
 	stop-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33582px),
 	street-view: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33640px),
 	strikethrough: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33698px),
 	stumbleupon: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33756px),
 	stumbleupon-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33814px),
 	subscript: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33872px),
 	subway: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33930px),
 	suitcase: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -33988px),
 	sun-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34046px),
 	superscript: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34104px),
 	support: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34162px),
 	table: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34220px),
 	tablet: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34278px),
 	tachometer: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34336px),
 	tag: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34394px),
 	tags: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34452px),
 	tasks: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34510px),
 	taxi: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34568px),
 	television: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34626px),
 	tencent-weibo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34684px),
 	terminal: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34742px),
 	text-height: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34800px),
 	text-width: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34858px),
 	th: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34916px),
 	th-large: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -34974px),
 	th-list: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35032px),
 	thumb-tack: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35090px),
 	thumbs-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35148px),
 	thumbs-o-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35206px),
 	thumbs-o-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35264px),
 	thumbs-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35322px),
 	ticket: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35380px),
 	times: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35438px),
 	times-circle: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35496px),
 	times-circle-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35554px),
 	tint: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35612px),
 	toggle-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35670px),
 	toggle-left: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35728px),
 	toggle-off: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35786px),
 	toggle-on: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35844px),
 	toggle-right: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35902px),
 	toggle-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -35960px),
 	trademark: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36018px),
 	train: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36076px),
 	transgender: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36134px),
 	transgender-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36192px),
 	trash: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36250px),
 	trash-o: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36308px),
 	tree: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36366px),
 	trello: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36424px),
 	tripadvisor: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36482px),
 	trophy: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36540px),
 	truck: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36598px),
 	try: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36656px),
 	tty: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36714px),
 	tumblr: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36772px),
 	tumblr-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36830px),
 	turkish-lira: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36888px),
 	tv: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -36946px),
 	twitch: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37004px),
 	twitter: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37062px),
 	twitter-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37120px),
 	umbrella: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37178px),
 	underline: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37236px),
 	undo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37294px),
 	university: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37352px),
 	unlink: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37410px),
 	unlock: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37468px),
 	unlock-alt: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37526px),
 	unsorted: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37584px),
 	upload: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37642px),
 	usb: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37700px),
 	usd: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37758px),
 	user: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37816px),
 	user-md: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37874px),
 	user-plus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37932px),
 	user-secret: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -37990px),
 	user-times: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38048px),
 	users: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38106px),
 	venus: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38164px),
 	venus-double: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38222px),
 	venus-mars: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38280px),
 	viacoin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38338px),
 	video-camera: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38396px),
 	vimeo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38454px),
 	vimeo-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38512px),
 	vine: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38570px),
 	vk: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38628px),
 	volume-down: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38686px),
 	volume-off: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38744px),
 	volume-up: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38802px),
 	warning: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38860px),
 	wechat: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38918px),
 	weibo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -38976px),
 	weixin: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39034px),
 	whatsapp: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39092px),
 	wheelchair: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39150px),
 	wifi: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39208px),
 	wikipedia-w: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39266px),
 	windows: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39324px),
 	won: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39382px),
 	wordpress: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39440px),
 	wrench: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39498px),
 	xing: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39556px),
 	xing-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39614px),
 	y-combinator: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39672px),
 	y-combinator-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39730px),
 	yahoo: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39788px),
 	yc: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39846px),
 	yc-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39904px),
 	yelp: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -39962px),
 	yen: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -40020px),
 	youtube: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -40078px),
 	youtube-play: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -40136px),
 	youtube-square: (width: 48px, height: 48px, backgroundX: 0px, backgroundY: -40194px),
);
