/*
--------------------------------------------------------------
Color variables
-------------------------------------------------------------- */

// Grayscale Colors
$color-black:					#000000;
$color-black-90:				#1A1A1A;
$color-black-80:				#333333;
$color-black-70:				#4D4D4D;
$color-black-60:				#666666;
$color-black-50:				#7F7F7F;
$color-black-40:				#999999;
$color-black-30:				#B3B3B3;
$color-black-25:				#BFBFBF;
$color-black-20:				#CCCCCC;
$color-black-13:				#DDDDDD;
$color-black-10:				#E6E6E6;
$color-black-5:					#F2F2F2;
$color-black-2:					#FAFAFA;

$color-white:					#FFFFFF;

// Gradient
$color-primary:					#13A4EC;
$color-primary-light:			#66CCFF;
$color-primary-dark:			#0077B3;

// Secodary Colors
$color-secondary:				#4095BF;
$color-secondary-hover:			#2D9BD2;
$color-secondary-accent:		#0D4573;
$color-secondary-dark:			#29363D;

// Background Colors
$color-bg:						#F5F8FA;
$color-bg-1:					#EDF4F7;
$color-bg-2:					#DBE9F0;
$color-bg-3:					#C8DEEA;
$color-bg-light:				#E5F6FF;
$color-bg-dark:					#AFC5CF;
$color-bg-dark-hover:			#B3C3CC;

// Link Colors
$color-link:					#0F618A;
$color-link-accent:				#0B95DA;
$color-link-hover:				#D31141;
$color-link-hover-highlight:	#F4BECB;
$color-link-hover-notice:		#F0DBE0;
$color-link-hover-report:		#F7EDF0;

// Poll Colors
$color-poll-bg1: 				#9E2E4A;
$color-poll-bg2:				#BD284D;
$color-poll-bg3:				#DF2050;
$color-poll-bg4:				#EE2B5B;
$color-poll-bg5:				#FA3869;

$color-poll-border1:			#861330;
$color-poll-border2:			#9C1638;
$color-poll-border3:			$color-poll-bg1;
$color-poll-border4:			$color-poll-bg2;
$color-poll-border5:			$color-poll-bg3;

// Highlights
$color-highlight-row:			#F7F7D4;
$color-blockquote:				#ECECDF;
$color-blockquote-inner:		#F0F0DB;

// Code Colors
$color-code-default:			#2D8652;
$color-code-orange:				#FF8000;
$color-code-red:				#E60000;
$color-code-blue:				#0000CC;
$color-code-green:				#008000;

// PM Colors
$color-pm-reply:				#A3B8C2;
$color-pm-friend:				#5E9CBA;
